body {
	background-color: gold;
	font-family: Courier, Verdana, Tahoma, Arial, san-serif;
	color: firebrick;
	text-align: center;
}
h1 {
	text-align: center;
}
.class {
	background-color: darkorange;
	padding:15px;
	width: 50%;
	margin: 0 auto;
}
